.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    /*flex-wrap: wrap;
    align-items: flex-start;*/
}

.category {
    text-align: center;
    margin: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border: 1px solid #ccc;
    box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.2);
    padding: 22px;
    border-radius: 5px;
    transition: transform 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);

   
    /*flex: 1 1 20%;
    flex-grow: 1;*/
  }
  .category img{
    object-fit: cover;
    /* max-width: 100%;
    max-height: 100%; */
    width: 100%;
    height: 150px;
  }
  .category p {
margin-top: 10px;
  }
  .category a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  /* .category a:hover{
    font-weight: bold;
    font-size: 1.2em;
  } */
  .category a:hover,
  .category a:hover p {
    font-weight: bold;
    font-size: 1.2em;
}
  .category:hover{

    transform: scale(1.07);
  }
  @media screen and (max-width: 768px) {
    .categories {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  @media screen and (max-width: 480px) {
    .categories {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));;
    }
    }
    @media screen and (min-width: 1200px) {
      .categories{
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }
    }
    @media screen and (min-width: 1920px) {
      .categories {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
      
    }

.container {
  position: relative;
  text-align: center;
 }
/* .container img {
width: 100vw;    height: auto;    margin-top: 20px;
} */
img {
    max-width: 100%;
    margin: 0 auto;
}


  figure{
    max-width: 100%;
    text-align: center;
  }

  .top-bar {
    background-color: #4682b4;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .second-row {
    background-color:#4682b4 ;
    color: #fff;
    padding: 10px;
  }
  .left-items {
    margin-right: auto;
}

.right-items {
    margin-left: auto;
}
  .btn {
    background-color: #fff;
    color: #4682b4;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #ccc;
  }

  .nav-item {
    color: #fff; 
    text-decoration: none;
    margin: 0 10px;
  }

.nav-item:not(:last-child):hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.nav-item:hover {
    font-weight: bold;
}